@import './utils/variables';
@import './utils/mixins';
@import './utils/placeholders';
@import './utils/common';
@import './utils/dark-theme';

@import './layout/page-header';
@import './layout/container';
@import './layout/gallery-container';
@import './layout/footer';

@import './components/gallery-card';
@import './components/modal-movie';
@import './components/basiclightbox';
@import './components/buttons';
@import './components/modal-team';
@import './components/pagination';
@import './components/no-results-message';
@import './components/button-scroll';
@import './components/theme-switch';
