<div class='modal-youtube'>
  <button class='modal-youtube__close-btn' type='button'>
    <svg width='30' height='30'>
      <use href='sprite.svg#icon-close'></use>
    </svg>
  </button>
  <div>
    <div class='modal-youtube__iframe-container'>
      <iframe
        class='modal-youtube__iframe'
        frameborder='0'
        src={{trailer_link}}
        title='YouTube video player'
        allow='accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture'
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>