<div class="modal-youtube">
  <button class='modal-youtube__close-btn' type='button'>
    <svg width='20' height='20'>
      <path d='M8 8L22 22' stroke='red' stroke-width='2'></path>
      <path d='M8 22L22 8' stroke='red' stroke-width='2'></path>
    </svg>
  </button>
  <div>
    <iframe
      src={{trailer_link}} width='560'
 height='315'
      frameborder='0'
    ></iframe>
  </div>
</div>