.dark-theme {
  // Main page
  background-color: $dark-primary-bg-color;

  // Name movie
  & .gallery__title {
    color: $white-text-color;
  }

  // Background card movie
  & li .gallery__info {
    background-color: transparent;
    border-color: white;
  }

  // Page namber pagination
  & a.tui-page-btn {
    color: $white-text-color;
  }

  // Background footer
  & .footer {
    background-color: $dark-footer-bg-color;
  }

  // Backdrope modal
  & .basicLightbox {
    background: $backdrop-bg-color;
    // sopacity: 0.8;
  }

  // Background modal
  & .modal-movie {
    background-color: $dark-primary-bg-color;
  }

  // Backgroud button close
  & .modal-movie__close-btn {
    background-color: $dark-primary-bg-color;
  }

  //Vote modal
  & .vote {
    color: $movie-title-black-color;
  }

  //Votes modal
  & .votes {
    color: $movie-title-black-color;
  }

  // Text modal
  & .modal-movie__description {
    color: $white-text-color;
  }

  // Button modal
  & .modal-movie__btn-item {
    background-color: $dark-primary-bg-color;
    color: $btn-primary-color;
  }
}
