.dark-theme {
  // Main page
  background-color: $dark-primary-bg-color;

  // Header
  & .btnFilter {
    background-color: #2e2e2ee1;
    // color: $btn-secondary-color;

    &--active {
      background-color: $btn-accent-bg-color;
      box-shadow: -4px -1px 4px rgba(0, 0, 0, 0.404), 4px -1px 4px rgba(0, 0, 0, 0.404);
    }
  }

  // Shadow cards
  & .gallery__item {
    box-shadow: $dark-gallery-shadow;
    &:hover {
      box-shadow: $dark-gallery-shadow-hover;
    }
  }

  & .gallery__img {
    background-color: $modal-grey-title-color;
  }

  // Name movie
  & .gallery__title {
    color: $white-text-color;
  }

  // Background card movie
  & li .gallery__info {
    background-color: transparent;
    border-color: $btn-primary-color;
  }

  // Pagination btn
  & .tui-page-btn.tui-btn {
    background-color: $dark-footer-bg-color;

    &:hover {
      background-color: $page-accent-bg-color;
    }
  }

  // Page namber pagination
  & a.tui-page-btn {
    color: $white-text-color;
  }

  // Background footer
  & .footer {
    background-color: $dark-footer-bg-color;
  }

  // Footer text
  & .footer__text {
    color: $footer-bg-color;
  }

  // Footer link
  & .footer__link.js-footer__link {
    color: $footer-bg-color;

    &:focus,
    &:hover {
      color: $footer-heart-color;
    }
  }

  // Backdrop modal
  & .basicLightbox {
    background: $dark-backdrop-bg-color;
  }

  // Background modal
  & .modal-movie {
    background-color: $dark-primary-bg-color;
    opacity: 1;
  }

  // Backgroud button close
  & .modal-movie__close-btn {
    background-color: $dark-primary-bg-color;
    color: $btn-primary-color;
  }

  //Vote modal
  & .vote {
    color: $movie-title-black-color;
  }

  //Votes modal
  & .votes {
    color: $movie-title-black-color;
  }

  // Text modal
  & .modal-movie__description {
    color: $white-text-color;
  }

  // Button youtube
  & .youtube-btn {
    border-color: $btn-primary-color;
    color: $btn-primary-color;
  }

  // Button modal
  & .modal-movie__btn-item {
    background-color: $dark-primary-bg-color;
    color: $btn-primary-color;
  }
  & .modal-youtube {
    background-color: $dark-primary-bg-color;
  }

  // Team
  & .team {
    fill: $white-text-color;
    background-color: $dark-primary-bg-color;
    color: $btn-primary-color;
  }

  & .team-social__icon {
    fill: $white-text-color;
  }

  & .message__image {
    background-image: url(../images/film-rolls-dark.svg);
  }
}
