// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

// Gaps
$card-gap: 30px;

// font
$main-font: 'Roboto', sans-serif;

// footer
$footer-bg-color: #f7f7f7;
$footer-grey-text-color: #545454;
