<div class="container">
  <h1 class="visually-hidden">Movies library</h1>

  <ul class="gallery" id="js-gallery">
    <li class="gallery__item">
      <div class="gallery__img-thumb">
        <img class="gallery__img" src="Rectangle.jpg" alt="name" id="id" />
      </div>
      <div class="gallery__info">
        <h2 class="gallery__title">name</h2>
        <div class="gallery__help-wrapper">
          <span class="gallery__genres">action, comedy</span>
          <span class="gallery__release">2020</span>
          <span class="gallery__rating">2.0</span>
        </div>
      </div>
    </li>

    <li class="gallery__item">
      <div class="gallery__img-thumb">
        <img class="gallery__img" src="Rectangle.jpg" alt="name" id="id" />
      </div>
      <div class="gallery__info">
        <h2 class="gallery__title">name</h2>
        <div class="gallery__help-wrapper">
          <span class="gallery__genres">action, comedy</span>
          <span class="gallery__release">2020</span>
          <span class="gallery__rating">2.0</span>
        </div>
      </div>
    </li>

    <li class="gallery__item">
      <div class="gallery__img-thumb">
        <img class="gallery__img" src="Rectangle.jpg" alt="name" id="id" />
      </div>
      <div class="gallery__info">
        <h2 class="gallery__title">name</h2>
        <div class="gallery__help-wrapper">
          <span class="gallery__genres">action, comedy</span>
          <span class="gallery__release">2020</span>
          <span class="gallery__rating">2.0</span>
        </div>
      </div>
    </li>

    <li class="gallery__item">
      <div class="gallery__img-thumb">
        <img class="gallery__img" src="Rectangle.jpg" alt="name" id="id" />
      </div>
      <div class="gallery__info">
        <h2 class="gallery__title">name</h2>
        <div class="gallery__help-wrapper">
          <span class="gallery__genres">action, comedy</span>
          <span class="gallery__release">2020</span>
          <span class="gallery__rating">2.0</span>
        </div>
      </div>
    </li>

    <li class="gallery__item">
      <div class="gallery__img-thumb">
        <img class="gallery__img" src="Rectangle.jpg" alt="name" id="id" />
      </div>
      <div class="gallery__info">
        <h2 class="gallery__title">name</h2>
        <div class="gallery__help-wrapper">
          <span class="gallery__genres">action, comedy</span>
          <span class="gallery__release">2020</span>
          <span class="gallery__rating">2.0</span>
        </div>
      </div>
    </li>

    <li class="gallery__item">
      <div class="gallery__img-thumb">
        <img class="gallery__img" src="Rectangle.jpg" alt="name" id="id" />
      </div>
      <div class="gallery__info">
        <h2 class="gallery__title">name</h2>
        <div class="gallery__help-wrapper">
          <span class="gallery__genres">action, comedy</span>
          <span class="gallery__release">2020</span>
          <span class="gallery__rating">2.0</span>
        </div>
      </div>
    </li>
  </ul>
</div>
