<div class="backdrop is-hidden" data-modal-team>
  <div class="modal-team">
    <button class="btn-modal-close" type="button" data-modal-close-team>
      <svg class="btn-modal-close__icon" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <article class="team">
      <!-- <h2 class="team-title is-hidden">Our team</h2> -->

      <!-- В этот список рендери разметку меню -->
      <ul class="team__list js-team"></ul>
    </article>
  </div>
</div>