<!-- Header -->
<header class="page-header">
  <div class="container">
    <!-- Company`s Logo -->
    <div class="page-header__container">
      <a class="logo" href="index.html">
        <svg width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <h2 class="logo-title">Filmoteka</h2>
      </a>

      <!-- Site Navigation -->
      <nav class="site-nav">
        <ul class="site-nav__list">
          <li class="site-nav__item site-nav__item--margin">
            <h2 class="site-nav__link site-nav__link--active" data-nav="home">HOME</h2>
          </li>

          <li class="site-nav__item">
            <h2 class="site-nav__link" data-nav="my library">MY LIBRARY</h2>
          </li>
        </ul>
      </nav>
    </div>

    <div class="section-header">
      <!-- Header Search -->
      <div class="page-header__search">
        <!-- Site Search Input -->
        <input class="page-header__search--input" type="input" placeholder="Поиск фильмов" />
        <svg class="search-img" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
