.btn {
  height: 44px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;

  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  cursor: pointer;
}

.btn--primary {
  width: 130px;
  padding-left: 36px;
  padding-right: 36px;

  color: $btn-primary-color;
  border: $btn-border;
  background-color: $btn-primary-bg-color;

  @include respond-above($tablet) {
    width: 136px;
  }

  &:hover,
  &:focus,
  &--active {
    background-color: $btn-accent-bg-color;
    border: 1px solid $btn-accent-bg-color;
    box-shadow: $btn-primary-accent-shadow;
    // transform: scale(1.1);
  }
}

.btn--secondary {
  width: 113px;
  padding-left: 8px;
  padding-right: 8px;

  color: $btn-secondary-color;
  border: $btn-border;
  background-color: $btn-secondary-bg-color;

  @include respond-above($tablet) {
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include respond-above($desktop) {
    width: 136px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $btn-primary-color;
    background-color: $btn-accent-bg-color;
    border: 1px solid $btn-accent-bg-color;
    transform: scale(1.1);
  }
}

.btn--filter {
  position: relative;
  width: 120px;
  border-top-left-radius: 70%;
  padding: 0px;
  font-size: 14px;
  line-height: 1.14;
}
