.btn__scroll-top {
  position: fixed;
  display: flex;
  bottom: 40px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: $btn-primary-color;
  border: none;
  border-radius: 5px;
  background: $rating-bg-color;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background: $btn-accent-bg-color;
    box-shadow: $btn-primary-accent-shadow;

    & .btb__scroll--svg {
      cursor: pointer;
      fill: $white-text-color;
      transition: all 0.3s ease-in-out;
    }
  }
}

.btb__scroll--svg {
  position: relative;
  fill: $btn-secondary-color;
  transition: all 0.3s ease-in-out;
}

.btn__show {
  @include respond-below($desktop) {
    opacity: 1;
    right: calc(6%);
  }
}
