.btn {
  height: 44px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 5px;

  font-size: 12px;
  line-height: 1.33;
  font-weight: 500;
  cursor: pointer;
}

.btn--primary {
  width: 130px;
  padding-left: 36px;
  padding-right: 36px;

  color: $btn-primary-color;
  border: $btn-border;
  background-color: $btn-bg-color;

  transition: $btn-animation;

  @include respond-above($tablet) {
    width: 136px;
  }

  &:hover,
  &:focus,
  &--active {
    z-index: 2;
    background-color: $btn-accent-bg-color;
    border: 1px solid $btn-accent-bg-color;
    box-shadow: $btn-primary-accent-shadow;
    // transform: scale(1.1);
  }
}

.btn--secondary {
  width: 113px;
  padding-left: 8px;
  padding-right: 8px;

  color: $btn-secondary-color;
  border: $btn-border;
  background-color: $btn-bg-color;

  transition: $btn-animation;

  @include respond-above($tablet) {
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include respond-above($desktop) {
    width: 136px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $btn-primary-color;
    background-color: $btn-accent-bg-color;
    border: 1px solid $btn-accent-bg-color;
    // transform: scale(1.1);
  }
}

.btnFilter {
  position: relative;
  justify-content: flex-end;
  width: 118px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  color: $modal-grey-title-color;
  border: $btn-border;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-style: none;
  border-top-left-radius: 70%;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 10px 0 0;

  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  text-align: right;
  cursor: pointer;

  transition: $btn-animation;

  @include respond-above($tablet) {
    padding: 0 15px 0 0;
  }

  &--today {
    left: 10px;
  }

  &--active {
    z-index: 1;
  }

  &:hover,
  &:focus,
  &--active {
    background-color: $btn-accent-bg-color;
    border: 1px solid $btn-accent-bg-color;
    box-shadow: -4px -1px 4px rgba(0, 0, 0, 0.25), 4px -1px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
  }
}
