.gallery__item {
  position: relative;
  @include grid-item(1);

  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;

  @include respond-above($tablet) {
    @include grid-item(2);
  }

  @include respond-above($desktop) {
    @include grid-item();
  }
}

.gallery__item:hover {
  animation: card-hover 250ms ease-out;

  & .gallery__card-nav {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes card-hover {
  0% {
    transform: translateY(0px);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  }

  60% {
    transform: translateY(-12px);
    box-shadow: 6px 15px 7px rgba(0, 0, 0, 0.14);
  }

  70% {
    transform: translateY(-12px);
    box-shadow: 6px 15px 7px rgba(0, 0, 0, 0.14);
  }

  85% {
    transform: translateY(-3px);
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.26);
  }

  100% {
    transform: translateY(-4px);
    box-shadow: 5px 10px 4px rgba(133, 93, 93, 0.1);
  }
}

.gallery__img-thumb {
  width: 100%;
  height: 398px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  pointer-events: none;
}

.gallery__img {
  height: 100%;
  object-fit: cover;
}

.gallery__card-nav {
  position: absolute;
  right: 0;
  top: 0;

  transform: translateX(100%);
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 90px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 5px;

  transition: transform 250ms ease-out 270ms, opacity 200ms ease-out 320ms;
}

.gallery__btn {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: $btn-primary-color;
  opacity: 0.6;
  transform: scale(1);
  transition: transform $animation, color $animation, opacity $animation;
}

.gallery__btn:hover {
  color: $btn-accent-bg-color;
  opacity: 1;
  transform: scale(1.15);

  & .gallery__icon {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.205));
  }
}

.gallery__btn.activated {
  opacity: 1;
  color: #2e2e2e;
}

.gallery__btn.activated:hover {
  color: $btn-accent-bg-color;
}

.gallery__icon {
  background-size: contain;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.377));

  transition: filter $animation;
}

.gallery__btn-helper {
  position: absolute;
  right: 50px;
  display: inline-flex;
  justify-content: center;
  width: 120px;

  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 5px 0 0 5px;

  font-size: 13px;
  color: $movie-title-black-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);

  opacity: 0;
  transform: translateX(100%);
  transition: transform $animation, opacity $animation;
}

.watched-helper {
  top: 8px;
}

.queue-helper {
  top: 52px;
}

.gallery__btn-helper.active {
  opacity: 1;
  transform: translateX(0);
}

.gallery__info {
  width: 100%;
  padding: 10px 4px 6px;

  pointer-events: none;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.37);
}

.gallery__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.gallery__help-wrapper {
  display: flex;
  color: $genre-orange-title-color;
}

.gallery__genres {
  position: relative;
  margin-right: 10px;
}

.gallery__genres::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  height: 80%;
  width: 1px;
  background-color: $genre-orange-title-color;
}

.gallery__date {
  margin-right: 10px;
}

.gallery__rating {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  color: $white-text-color;
  background-color: $rating-bg-color;
}
