.gallery__item {
  position: relative;
  @include grid-item(1);

  border-radius: 5px;
  box-shadow: $default-gallery-shadow;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  overflow: hidden;

  transform: translateY(0px) scale(1);
  transition: transform 200ms ease-out, box-shadow 200ms ease-out;

  @include respond-above($tablet) {
    @include grid-item(2);
  }

  @include respond-above($desktop) {
    @include grid-item();
  }
}

.gallery__item:hover {
  transform: translateY(-12px) scale(1.02);
  box-shadow: $default-gallery-shadow-hover;

  & .gallery__card-nav {
    transform: translateY(0);
  }
}

.gallery__img-thumb {
  width: 100%;
  height: 398px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  pointer-events: none;
}

.gallery__img {
  height: 100%;
  object-fit: cover;
  background-color: #fff;
  pointer-events: none;
}

// Buttons add/remove from watched/queue
.gallery__card-nav {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 90px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 5px 0 5px;

  transform: translateX(100%);
  transition: transform 250ms ease-out 150ms;

  &.is-hidden {
    display: none;
  }
}

.gallery__btn {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: $btn-primary-color;
  opacity: 0.6;
  transform: scale(1);
  transition: transform $animation, color $animation, opacity $animation;
}

.gallery__btn:hover {
  color: $btn-accent-bg-color;
  opacity: 1;
  transform: scale(1.15);

  & .gallery__icon {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.205));
  }
}

.gallery__btn.activated {
  opacity: 1;
  color: #2e2e2e;
}

.gallery__btn.activated:hover {
  color: $btn-accent-bg-color;
}

.gallery__btn[data-action='add-watched']:hover {
  .gallery__btn-helper.watched-helper {
    opacity: 1;
    transform: translateX(0);
  }
}

.gallery__btn[data-action='add-queue']:hover {
  .gallery__btn-helper.queue-helper {
    opacity: 1;
    transform: translateX(0);
  }
}

.gallery__icon {
  pointer-events: none;
  background-size: contain;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.377));

  transition: filter $animation;
}

.gallery__btn-helper {
  pointer-events: none;
  position: absolute;
  top: 2px;
  right: 47px;
  display: inline-flex;
  justify-content: center;
  width: 130px;

  padding: 6px 2px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px 0 0 5px;

  font-size: 12px;
  font-weight: 500;
  color: $movie-title-black-color;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.13);

  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-out, opacity 200ms ease-out 100ms;
}

.gallery__info {
  width: 100%;
  padding: 10px 4px 6px;

  pointer-events: none;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.37);
}

.gallery__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.gallery__help-wrapper {
  display: flex;
  color: $genre-orange-title-color;
}

.gallery__genres {
  position: relative;
  margin-right: 10px;
}

.gallery__genres::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: -5px;
  height: 80%;
  width: 1px;
  background-color: $genre-orange-title-color;
}

.gallery__date {
  margin-right: 10px;
}

.gallery__rating {
  display: inline-block;
  padding: 0 10px;
  max-height: 16px;
  border-radius: 5px;
  color: $white-text-color;
  background-color: $rating-bg-color;
}
