.modal-movie {
  background-color: $white-text-color;
  padding: 50px 20px;
  max-width: 280px;
  @include respond-above($tablet) {
    padding: 40px, 30px;
    max-width: 620px;
    max-height: 562px;
    display: flex;
  }
  @include respond-above($desktop) {
    max-width: 880px;
    max-height: 570px;
  }
}

.modal-movie__close-icon {
  position: absolute;
  top: 18px;
  left: 10%;
  cursor: pointer;
}
.modal-movie__close-btn {
  background-color: $white-text-color;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-movie__poster {
  margin-right: 0px;
}
.modal-movie__img {
  max-width: 320px;
  @include respond-below($tablet) {
    text-align: center;
    max-width: 240px;
    max-height: 355px;
  }
  @include respond-below($desktop) {
    max-width: 265px;
    max-height: 375px;
  }
  @include respond-above($desktop) {
    max-width: 395px;
    max-height: 480px;
  }
}
.modal-movie__description {
  @include respond-above($tablet) {
    max-width: 260px;
    margin-left: 30px;
  }
}
.modal-movie_name {
  text-transform: uppercase;
  @include respond-below($tablet) {
    margin-top: 30px;
    font-size: 20px;
    line-height: 0.9;
  }

  @include respond-below($desktop) {
    font-size: 20px;
    line-height: 1.17;
  }
  @include respond-above($desktop) {
    font-size: 30px;
    line-height: 1.16;
  }
}
.modal-movie__table {
  margin-top: 20px;
}
.modal-movie__history {
  margin-top: 20px;
  width: 130px;
  //padding-right: 40px;
  font-size: 12px;
  line-height: 1.3;
  color: $modal-grey-title-color;
  @include respond-above($tablet) {
    width: 105px;
  }
}
.vote {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  min-width: 36px;
  font-size: 12px;
  line-height: 1.7;
  background-color: $rating-bg-color;
  color: $white-text-color;
}
// .tr {
//   padding-left: 20px;
// }
.votes {
  min-width: 36px;
  background-color: $footer-bg-color;
}
.modal-movie__show {
  margin-top: 10px;
  // padding-left: 20px;
}
.modal-movie__original {
  text-transform: uppercase;
}
.overviev-title {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
}
.modal-movie__overview {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.67;
}
.modal-movie__btn-list {
  text-align: center;
  display: flex;
}
.btn--secondary {
  margin-top: 20px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
