.modal-movie {
  background-color: $white-text-color;
  padding: 50px 20px;
  max-width: 280px;
  @include respond-above($tablet) {
    padding: 40px, 30px;
    max-width: 620px;
    min-height: 562px;
    display: flex;
  }
  @include respond-above($desktop) {
    padding: 50px 30px 40px;
    max-width: 900px;
    height: 570px;
  }
}

.modal-movie__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: $white-text-color;
}

.modal-movie__poster {
  margin-right: 0px;
  border-radius: 5px;
  overflow: hidden;

  width: 240px;
  height: 356px;

  @include respond-above($tablet) {
    width: 264px;
    height: 374px;
  }

  @include respond-above($desktop) {
    width: 380px;
    height: 480px;
  }
}

.modal-movie__img {
  height: 100%;
  object-fit: cover;
}

.modal-movie__description {
  @include respond-above($tablet) {
    max-width: 260px;
    margin-left: 30px;
  }
  @include respond-above($desktop) {
    max-width: 400px;
    max-height: 480px;
  }
}

.modal-movie_name {
  text-transform: uppercase;
  font-weight: 500;
  @include respond-below($tablet) {
    margin-top: 30px;
    font-size: 20px;
    line-height: 0.9;
  }

  @include respond-below($desktop) {
    font-size: 20px;
    line-height: 1.17;
  }
  @include respond-above($desktop) {
    font-size: 30px;
    line-height: 1.16;
  }
}

.modal-movie__table {
  margin-top: 20px;
  font-weight: 500;
}

.modal-movie__history {
  margin-top: 20px;
  width: 130px;
  font-size: 12px;
  line-height: 1.6;
  color: $modal-grey-title-color;
  @include respond-above($tablet) {
    width: 105px;
  }
}

.vote {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  min-width: 36px;
  font-size: 12px;
  line-height: 1.7;
  background-color: $rating-bg-color;
  color: $white-text-color;
}

.votes {
  min-width: 36px;
  background-color: $footer-bg-color;
}

.modal-movie__show {
  margin-top: 10px;
}

.modal-movie__original {
  text-transform: uppercase;
}

.overviev-title {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  text-transform: uppercase;
}
.modal-movie__youtube {
  border: none;
  cursor: pointer;
  background-color: $white-text-color;
}
.modal-movie__overview {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.67;
}

.modal-movie__btn-list {
  text-align: center;
  display: flex;
}

.modal-movie__btn-item {
  text-transform: uppercase;
  margin-top: 20px;
  &:not(:last-child) {
    margin-right: 15px;
  }
}
.youtube {
  width: 30px;
  height: 30px;
}
.youtube-btn {
  width: 40px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  bottom: 125px;
  box-shadow: $team-card-shadow;
  align-items: center;
  justify-content: center;
}

.youtube__btn-icon {
  pointer-events: none;
}
.modal-youtube__close-btn {
  // position: absolute;
  // top: 0;
  // right: 0;
  // width: 50px;
  // height: 50px;
  // padding: 10px;
  // display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: $white-text-color;
}

.modal-youtube {
  background-color: white;
  // width: 100%;
  // height: 100%;
}
