// Theme switch
.theme-switch {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  // margin-bottom: 20px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 20px;
  border: 1px solid $header-accent-page-line;
  border-radius: 50em;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  display: flex;
  height: 20px;
  user-select: none;
  border-radius: inherit;
  font-size: 6px;
  z-index: 1;
  cursor: pointer;
  transform: translateX(-60px);
  transition: transform $animation;

  &--light {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 59px;
    padding-right: 5px;
    color: $movie-title-black-color;
    background-color: lightgrey;
  }

  &--dark {
    display: flex;
    align-items: center;
    width: 59px;
    padding-left: 3px;
    color: $white-text-color;
    background-color: #494d4e;
  }
}

.theme-switch__marker {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: $primary-bg-color;
  background-image: url(../images/day.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 12px;
  background-position: 3px 3px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  z-index: 3;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: transform $animation;
}

.theme-switch__toggle:checked + .theme-switch__track {
  transform: translateX(0);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(40px);
  background-image: url(../images/night.svg);
  background-color: lightgrey;
}
