// #scrollTop {
//   position: fixed;
//   right: 150px;
//   bottom: 20px;

//   // opacity: 0;
//   // transition: opacity 0.5s else-in;
//   // cursor: pointer;
// }

#toTop {
  position: fixed;
  display: inline-block;
  bottom: 30px;
  right: -40px;
  width: 40px;
  height: 40px;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  color: $btn-primary-color;
  border-radius: 5px;
  background: $rating-bg-color;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
#toTop:hover {
  background: $btn-accent-bg-color;
  box-shadow: $btn-primary-accent-shadow;
}

.btb__scroll--svg {
  position: relative;
  top: 12px;
  right: -1px;
  fill: $white-text-color;
  transition: all 0.3s ease-in-out;
}

.btb__scroll--svg:hover {
  cursor: pointer;
  fill: $white-text-color;
  transition: all 0.3s ease-in-out;
}

#toTop.show {
  opacity: 1;
  visibility: visible;
  right: calc(2%);
}
