.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @include respond-above($mobile) {
    max-width: $mobile;
    margin-left: auto;
    margin-right: auto;
  }

  @include respond-above($tablet) {
    max-width: $tablet;
  }

  @include respond-above($desktop) {
    max-width: $desktop;
  }
}
