.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include respond-above($mobile) {
    max-width: $mobile;
  }

  @include respond-above($tablet) {
    max-width: $tablet;
    padding-left: 75px;
    padding-right: 75px;
  }

  @include respond-above($desktop) {
    max-width: $desktop;
    padding-left: 71px;
    padding-right: 71px;
  }
}
