.gallery {
  @extend %list;
  @include grid();
  padding-top: 20px;
  padding-bottom: 40px;

  @include respond-above($tablet) {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @include respond-above($desktop) {
    padding-bottom: 46px;
  }
}
