.page-header {
  height: 230px;
  padding-top: 46px;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: $white-text-color;

  background-image: url(../images/backgraund/header-home480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @include respond-above($tablet) {
    background-image: url(../images/backgraund/header-home768.jpg);
  }

  @include respond-above($desktop) {
    background-image: url(../images/backgraund/header-home1200.jpg);
  }

  @include respond-above($big-desktop) {
    background-image: url(../images/backgraund/header-home1920.jpg);
  }

  &--my-library {
    background-image: url(../images/backgraund/header-my-lib480.jpg);

    @include respond-above($tablet) {
      background-image: url(../images/backgraund/header-my-lib768.jpg);
    }

    @include respond-above($desktop) {
      background-image: url(../images/backgraund/header-my-lib1200.jpg);
    }

    @include respond-above($big-desktop) {
      background-image: url(../images/backgraund/header-my-lib1920.jpg);
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-title {
    margin-left: 10px;

    font-weight: 500;
    font-size: 30px;

    @include respond-below($tablet) {
      display: none;
    }
  }
}

.site-nav {
  &__list {
    display: flex;
    padding: 0;
  }

  &__item--margin {
    margin-right: 20px;
  }

  &__link {
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
    transform: translate(10px, 10px);

    color: $white-text-color;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &--active[data-nav='home'] {
      border-bottom: 3px solid $header-accent-page-line;
    }

    &--active[data-nav='my library'] {
      border-bottom: 3px solid $header-accent-page-line;
    }
  }
}

.page-header--hidden {
  display: none;
}

.page-header__search {
  position: relative;
  margin-top: 38px;

  @include respond-above($tablet) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }

  &--input {
    width: 100%;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid $input-line-color;

    &::placeholder {
      color: $white-text-color;
    }
  }
}

.page-header__search--input {
  color: $white-text-color;
}

.page-header__search--btn {
  position: absolute;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.page-header__library {
  margin-top: 46px;
  justify-content: space-between;

  @include respond-above($tablet) {
    justify-content: center;
  }
}

.btn--margin {
  margin-right: 15px;
}
